cssmin
email_validator
Flask
Flask-Assets
Flask-Compress
Flask-Talisman
Flask-Limiter[redis]
govuk-frontend-jinja
govuk-frontend-wtf
gunicorn
jsmin
pyyaml
click
python-dotenv
requests
cssmin  # used by Flask-Assets
jsmin  # used by Flask-Assets
libsass # used by Flask-Assets
pyopenssl
PyYAML
