{% extends "base.html" %}

{% block beforeContent %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Explore Learning & Development</h1>
    <p class="govuk-body-l">Explore Learning & Development (L&D), peer reviewed by your colleagues in LAA Digital</p>
  </div>
</div>
{% endblock %}


{% block results %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Results</h2>
  </div>
</div>
{% endblock %}